packages: [
  "atom-beautify"
  "atom-css-comb"
  "atom-html-preview"
  "autoclose-html"
  "autocomplete-ruby"
  "color-picker"
  "emmet"
  "es6-javascript"
  "git-control"
  "git-plus"
  "highlight-selected"
  "javascript-snippets"
  "jslint"
  "language-babel"
  "language-haml"
  "language-javascript-jsx"
  "linter"
  "linter-coffeelint"
  "linter-haml"
  "linter-rubocop"
  "linter-ruby"
  "markdown-writer"
  "monokai"
  "monokai-seti"
  "package-sync"
  "pigments"
  "rails-snippets"
  "react"
  "seti-ui"
  "sync-settings"
]
